
<div style="background: lightcyan" class="jumbotron">
<p>This AngularFramework Online Test simulates a real online test.
 You will be presented Multiple Choice Questions (MCQs) based on AngularJS Framework Concepts,
 where you will be given four/two options. 
 You will select the best suitable answer for the question and then proceed to the next question without wasting given time.
 You will get your online test score after finishing the complete test.</p>
 <br/>
 <br/>
 <h2>Total Questions: 10</h2>
 <br/>
 <br/>
 <div class="text-dark">
 <p align="center">
    <input type="button" style="text-align: center;" value="Start Test" routerLink='/quiz' /></p>
</div>
</div>